.dashboard-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 4rem;
  border: solid palevioletred;
  background-color: pink;
  border-radius: 5px;
  box-shadow: 0 0 100px rgba(235, 175, 175, 0.951);
  color: rgb(134, 46, 75);
}

.typing {
  display: inline-block;
  font-family: monospace;
  font-size: 2rem;
  overflow: hidden;

  white-space: nowrap;

  border-right: 3px solid pink;

  width: 0;
  animation: typing 2s steps(30, end) forwards,
    blink 0.5s step-end 4 alternate;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }

  100% {
    border-color: transparent;

  }
}



.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn,
.save-btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn:hover,
.save-btn:hover {
  background-color: #0056b3;
}

.user-details label {
  font-weight: bold;
  display: block;
  margin-top: 0.6rem;

}

.user-details p,
.user-details input {
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0.4rem;
  color: rgb(226, 38, 38)
}

.upload-section {
  margin-top: 2rem;
}

.message {
  margin-top: 1rem;
  color: green;
  font-weight: 500;
}