h1 {
    color: white;


}

form {
    max-width: 450px;
    margin: 2rem auto;
    padding: 1rem;
    height: 90%;
    border: solid palevioletred;
    background-color: pink;
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(235, 175, 175, 0.951);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

p {
    display: inline-block;
    color: white;
}

a {
    display: inline-block;
}

input {
    width: 80%;
    border-radius: 8px;
    border: solid palevioletred;
    padding: 0.5rem;
    margin: 2%;
    accent-color: palevioletred;
}

input::placeholder {
    color: palevioletred;
}

input:focus {
    box-shadow: 2px 2px 15px white;
    outline-color: rgb(149, 0, 50);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

.SignUp {
    max-width: fit-content;
    background-color: rgb(241, 28, 99);
    color: aliceblue;
    margin: auto;

}